
<!-- begin:: Header -->
    <div id="kt_header" class="kt-header kt-grid__item  kt-header--fixed ">

        @Html.Partial("~/Views/Shared/partials/_header/_menu.cshtml")

        @Html.Partial("~/Views/Shared/partials/_header/topbar/_base.cshtml")
    </div>

<!-- end:: Header -->