@model ApiManager.Web.Models.TaskViewModel

<div class="form-group row">
    <div class="col-lg-6">
        @Html.LabelFor(model => model.FileViewModel.Formats)
        @Html.ListBoxFor(model => model.FileViewModel.SelectedFormats, Model.FileViewModel.Formats, new { @class = "form-control" })
    </div>
</div>

<div class="form-group row">
    <label>Shares</label>
    <div class="kt-checkbox-list">
        @foreach (var share in Model.FileViewModel.Shares)
        {
            var selected = "";
            if (Model.FileViewModel.SelectedShares.Contains(share.Id))
            {
                selected = "checked";
            }
            <label class="kt-checkbox">
                <input type="checkbox" id="FileViewModel_SelectedShares" name="FileViewModel.SelectedShares" value="@share.Id" @selected>
                @share.Name
                <span></span>
            </label>

        }
    </div>
</div>
