@model ApiManager.Web.Models.TaskViewModel

<h3>Receive</h3>

@Html.EnumDropDownListFor(model => model.ReceiverViewModel.Type, "Select type", new { @class = "form-control" })

<ul class="nav nav-tabs nav-tabs-line nav-tabs-line-success nav-tabs-bold" role="tablist">
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#receive_api" role="tab" id="apiReceiveTab">API</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#receive_disk" role="tab" id="diskReceiveTab">File</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#receive_mail" role="tab" id="mailReceiveTab">Mail</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#receive_ftp" role="tab" id="ftpReceiveTab">FTP</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#receive_sql" role="tab" id="sqlReceiveTab">SQL</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#receive_authentication" id="authenticationReceiveTab" role="tab">Authentication</a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane" id="receive_api" role="tabpanel">
        @{Html.RenderPartial("_ReceiveAPI", Model); }
    </div>
    <div class="tab-pane" id="receive_disk" role="tabpanel">
        @{Html.RenderPartial("_ReceiveFile", Model); }
    </div>
    <div class="tab-pane" id="receive_mail" role="tabpanel">
        @{Html.RenderPartial("_ReceiveMail", Model); }
    </div>
    <div class="tab-pane" id="receive_ftp" role="tabpanel">
        @{Html.RenderPartial("_ReceiveFTP", Model); }
    </div>
    <div class="tab-pane" id="receive_sql" role="tabpanel">
        @{Html.RenderPartial("_ReceiveSQL", Model); }
    </div>
    <div class="tab-pane" id="receive_authentication" role="tabpanel">
        @{Html.RenderPartial("_ReceiveAuthentication", Model); }
    </div>
</div>
