@model ApiManager.Web.Models.UrlStatisticsViewModel

@{
    ViewBag.Title = "Url Visits";

    IEnumerable<ApiManager.Logic.Models.Url> urls = Model.Urls;
    var urlList = new SelectList(Model.Urls, "Id", "Name", Model.UrlId);
}

<div class="kt-portlet kt-portlet--mobile">

    <div class="kt-portlet__head kt-portlet__head--lg">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
                Url Visits
            </h3>
        </div>
    </div>

    <div class="kt-portlet__body">
        <div class="kt-form kt-fork--label-right kt-margin-t-20 kt-margin-b-10">
            <div class="row align-items-center">
                <div class="col-xl-10 order-2 order-xl-1">
                    <div class="row align-items-center">
                        <div class="col-md-3 kt-margin-b-20-tablet-and-mobile">
                            <div class="kt-form__group kt-form__group--inline">
                                <div class="kt-form__control">
                                    @Html.DropDownListFor(x => Model.UrlId, urlList, "- Select an url -", htmlAttributes: new { @class = "form-control bootstrap-select", @id = "kt_form_url" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 kt-margin-b-20-tablet-and-mobile">
                            <div class="kt-form__group kt-form__group--inline">
                                <div class="kt-form__control">
                                    @Html.Partial("~/Views/Shared/partials/_PeriodPicker.cshtml", Model.Period)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="kt-portlet__body kt-portlet__body--fit">

        <!--begin: Datatable -->
        <div class="kt_datatable" id="kt_url_visits_datatable"></div>

        <!--end: Datatable -->
    </div>
</div>

@section scripts
{
    <script src="~/dist/assets/js/pages/custom/urls/visits-table.js" type="text/javascript"></script>
}